body{
    font-family: 'Ubuntu';
    text-align: center;
}


h1{
    margin: 6rem 0 2rem 0;
    font-family: 'Ubuntu';
    font-size: 3.5rem;
    color:steelblue;
}

h3{
    font-weight: bold; 
    color: steelblue;
}

span{
    font-weight: bold;
}

.whiteC{
    color: white;
}

/* nav bar */

.navbar{
    padding:2.2rem 2.5rem 2.5rem 2.5rem;
    
    background-color: steelblue;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    color: white;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.nav-link:hover{
    opacity: 50%;
}





.playIns{
    margin: 5rem 0 1rem 0;
}





/* table */

table{
    position: relative;
    margin:1% auto 3% auto;
    box-shadow: 5px 10px 18px #888888;
}

td{
    width:140px;
    height:140px;
    border:1px solid gray;
}



.playHeaders{
    font-weight: normal;
    color:steelblue;
}

.icon{
    color:steelblue;
}

.allPlay:hover{
    opacity: 50%;
}

.icon:hover{
    opacity: 50%;
}



.key{
    text-align: left;
}

.algo{
    text-align: left;
    padding-right:3rem;
}

.algo_link{
    text-decoration:none;
    color: black;
}

.foot{
    margin-top: 4%;
    background-color:steelblue;
    color: white;
    padding:4.5%;
}




.image_off, .eachSort:hover .image_on{
    display:none;
 }
 .image_on, .eachSort:hover .image_off{
    display:block;
 }




 #uname{
    margin:0;
    padding:2% 4% 0 0;
    color:white;
    background-color: steelblue;
    text-align: right;
}